html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #018997;
  background-color: rgba(7, 115, 105, .12);
  border-radius: 4px;
  padding: 0px 7px;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  color: #fff;
  background-color: #018997;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
